@import "../styles/variables";

:global {
  :local(.news) {
    box-shadow: 0 0 5px 5px $blue;
    border: 1px solid $blue;
  }

  :local(.newsItem) {
    border-bottom: 1px solid $blue;
    &:first-of-type {
      // border-top-left-radius: 5px;
      // border-top-right-radius: 5px;
    }

    &:last-of-type {
      // border-bottom-left-radius: 5px;
      // border-bottom-right-radius: 5px;
      border-bottom: 0;
    }

    .link {
      color: $dark-blue;
    }
  }
}
